@{
    Layout = "";
}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body style="background-color: #e6f4ff;">
    <header class="sticky-top">
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-primary border-bottom box-shadow mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Evaluacion" asp-action="Evaluaciones">Atras</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            <h1>Historico</h1>
            <hr />
            <form id="frm">
                <input type="hidden" value="" name="Id" id="Id" />
                <div class="form-group">
                    <label for="Fecha Inicio" class="form-label">Fecha Inicio: </label>
                    <input type="date" class="form-control" id="fechaInicio" />
                </div>
                <div class="form-group">
                    <label for="Fecha Fin" class="form-label">Fecha Fin: </label>
                    <input type="date" class="form-control" id="fechaFin" />
                </div>
                <input type="button" value="Buscar" onclick="Guardar();" class="btn btn-primary" />
            </form>
            <hr />
            <h4>Lista Historico</h4>
            <br />
            <table class="table table-bordered table-striped" cellpadding="0" cellspacing="0" id="tabla" style="background-color: white;">
                <thead>
                    <tr>
                        <td>Empleado</td>
                        <td>Evaluacion</td>
                        <td>Estado</td>
                        <td>Evaluador</td>
                        <td>Calificacion</td>
                    </tr>
                </thead>
                <tbody id="cuerpoTabla">
                </tbody>
            </table>
        </main>
    </div>
    
</body>
</html>
<script>
    llenarTabla();

    function llenarTabla() {

        const cuerpoTabla = document.getElementById("cuerpoTabla");
        cuerpoTabla.innerHTML = "";

        cuerpoTabla.innerHTML += `
                    <tr>
                        <td>${"Maria Solano"}</td>
                        <td>Desempeño</td>
                        <td>Finalizado</td>
                        <td>
                            Andrey
                        </td>
                        <td>
                         11/06/2022
                        </td>

                        <td>
                        90
                        </td>

                    </tr>`
            ;
    }
</script>